[submodule "Pie"]
	path = Pie
	url = https://github.com/IsometricSoftware/Pie
[submodule "JoltPhysicsSharp"]
	path = JoltPhysicsSharp
	url = https://github.com/piegfx/JoltPhysicsSharp
	branch = net7-only
